dlib == 19.21.0
imutils == 0.5.3
numpy == 1.14.3
opencv-contrib-python == 4.4.0.42
opencv-contrib-python-headless == 4.4.0.42
opencv-openvino-contrib-python == 4.1.1.26
opencv-python == 4.4.0.42
opencv-python-aarch64 == 3.3.0.1
opencv-python-headless == 4.4.0.42
opencv-python-inference-engine == 4.4.0.0
opencvz-contrib-python == 4.1.1.26
playsound == 1.2.2
progressbar == 2.5
scipy == 1.1.0
